@font-face {
	font-family: 'BDStreetSignSans';
	src: url('../fonts/OTF/BDStreetSignSans-Raised.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BDStreetSignSans trap';
	src: url('../fonts/OTF/BDStreetSignSans-AlmostRaisedInktrap.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #FBF8F4;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #000;

	&:hover {
		color: $color_main_2;
		text-decoration: none;
	}
}

.slick {
	&-arrow {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background: rgba($color: #D9D9D9, $alpha: .4);

		&::before {
			content: '';
			width: 45px;
			height: 45px;
			opacity: 1;
			color: #000;
		}

		z-index: 4;
	}

	&-next {
		right: 30px;

		&::before {
			content: '\f178';
			font-family: 'FontAwesome';
		}
	}

	&-prev {
		left: 30px;

		&::before {
			content: '\f177';
			font-family: 'FontAwesome';
		}
	}
}