@font-face {
  font-family: 'BDStreetSignSans';
  src: url("../fonts/OTF/BDStreetSignSans-Raised.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BDStreetSignSans trap';
  src: url("../fonts/OTF/BDStreetSignSans-AlmostRaisedInktrap.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FBF8F4;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
}

a:hover {
  color: #D7A444;
  text-decoration: none;
}

.slick-arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 0.4);
  z-index: 4;
}

.slick-arrow::before {
  content: '';
  width: 45px;
  height: 45px;
  opacity: 1;
  color: #000;
}

.slick-next {
  right: 30px;
}

.slick-next::before {
  content: '\f178';
  font-family: 'FontAwesome';
}

.slick-prev {
  left: 30px;
}

.slick-prev::before {
  content: '\f177';
  font-family: 'FontAwesome';
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
}

.header-top {
  background: #F8F1E8;
  padding: 12px 0;
}

.header-top-text {
  color: #000;
  font-size: 13px;
  margin-bottom: 0;
}

.header-top-text img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.header-top-content {
  display: flex;
  justify-content: space-between;
}

.header-center {
  background-color: #3C2415;
  padding: 15px 0;
}

.header-center-text {
  font-family: 'BDStreetSignSans trap', sans-serif;
  font-size: 18px;
  color: #D7A444;
  margin-bottom: 0;
  margin-right: 45px;
}

.header-center-text span {
  margin-right: 8px;
  margin-left: 8px;
}

.header-center-title {
  height: 100%;
}

.header-logo {
  display: block;
  height: 60px;
  aspect-ratio: 296/60;
}

.header-logo img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.header-cta-phone {
  background: #D7A444;
  color: #fff;
  padding: 10px 24px;
  border-radius: 150px;
  font-weight: 700;
  font-size: 16px;
  width: max-content;
}

.header-cta-phone img {
  margin-right: 8px;
}

.header-cta-phone:hover {
  color: #3C2415;
}

.header-bottom {
  background: #fff;
  box-shadow: 0 4px 10px rgba(215, 164, 68, 0.2);
}

.header-btn-link {
  color: #D7A444;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}

.header-btn-search {
  color: #D7A444;
  font-size: 16px;
}

.header .btn-mb {
  background: transparent;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.header .btn-mb-menu {
  color: #fff;
}

.header .btn-mb-search {
  color: #D7A444;
}

.navbar {
  padding: 11px 0;
}

.navbar .nav-link {
  padding: 10px 16px;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.navbar .nav-link:hover {
  color: #D7A444;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 20px;
}

.footer {
  background: url(/images/Footer-PC.png) no-repeat;
  background-size: cover;
  padding-top: 145px;
  padding-bottom: 40px;
}

.footer-logo {
  margin-bottom: 15px;
  display: block;
}

.footer-text {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer-text-item {
  color: #fff;
  font-size: 15px;
}

.footer-text-item:first-child {
  margin-bottom: 10px;
}

.footer-text-item:last-child {
  margin-bottom: 15px;
}

.footer-info {
  display: flex;
  color: #fff;
  margin-bottom: 0;
  align-items: flex-start;
}

.footer-info:not(:last-child) {
  margin-bottom: 10px;
}

.footer-info img {
  margin-right: 12px;
}

.footer-title {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 15px;
}

.footer-menu {
  padding-left: 25px;
}

.footer-menu li {
  font-size: 15px;
}

.footer-menu li a {
  color: #fff;
}

.footer-menu li a:hover {
  color: #D7A444;
}

.footer-menu li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-menu li::marker {
  color: #fff;
}

.footer-note {
  color: #D7A444;
  margin-bottom: 30px;
  font-style: italic;
  font-size: 15px;
}

.footer-social {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.footer-social li:not(:last-child) {
  margin-right: 15px;
}

.copyright {
  background: #28180E;
  padding: 17px 0;
}

.copyright-item {
  color: #fff;
  font-size: 13px;
}

.copyright-item:first-child {
  margin-bottom: 15px;
}

.copyright-item:last-child {
  margin-bottom: 0;
}

.section-title {
  font-family: 'BDStreetSignSans', sans-serif;
  color: #3C2415;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 20px;
}

.section-desc {
  margin-bottom: 40px;
  font-size: 17px;
}

.section-hello {
  padding: 80px 0;
}

.section-hello .entry {
  color: #3C2415;
  margin-bottom: 30px;
}

.section-hello .entry p {
  margin-bottom: 15px;
  font-size: 17px;
}

.section-hello .section-linkmore {
  width: max-content;
  display: block;
  background: #D7A444;
  color: #fff;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 150px;
  margin-bottom: 20px;
  font-weight: 700;
}

.section-hello .section-link {
  color: #D7A444;
  font-weight: 700;
  font-size: 15px;
}

.section-hello .section-link img {
  margin-left: 10px;
}

.section-hello .section-link:not(:last-child) {
  margin-right: 43px;
}

.section-hello .box-img {
  width: 777px;
  aspect-ratio: 777/645;
}

.section-trip {
  padding-bottom: 100px;
  position: relative;
}

.section-trip .container {
  max-width: 1000px;
}

.section-trip .img-title {
  margin-bottom: 40px;
}

.section-trip .inner {
  font-size: 15px;
  background: transparent;
  padding: 0;
}

.section-trip .inner-title {
  font-size: 17px;
  color: #D7A444;
  font-weight: 700;
  background: #3C2415;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 0 auto 60px auto;
  width: max-content;
  position: relative;
}

.section-trip .inner-title::after {
  content: '';
  position: absolute;
  background: rgba(215, 164, 68, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 50%;
  bottom: -55px;
  transform: translate(-50%, -50%);
}

.section-trip .inner-title::before {
  content: '';
  position: absolute;
  background: #D7A444;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 50%;
  bottom: -43px;
  transform: translate(-50%, -50%);
}

.section-trip .inner ul {
  padding-left: 0;
  margin-bottom: 0;
}

.section-trip .item {
  position: relative;
}

.section-trip .item:nth-child(3)::after {
  content: '';
  height: calc(100% + 50px);
  width: 50%;
  background: transparent;
  position: absolute;
  left: 0;
  top: 74px;
  border: 4px solid #3C2415;
  border-right: navajowhite;
  z-index: -1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transform: translateY(-5px);
}

.section-trip .item:nth-child(4)::after {
  content: '';
  height: calc(100% + 47px);
  width: 50%;
  background: transparent;
  position: absolute;
  right: 0;
  top: 76px;
  border: 4px solid #3C2415;
  border-left: navajowhite;
  z-index: -1;
  border-top-right-radius: 25px;
  transform: translateY(-5px);
  border-bottom-right-radius: 25px;
}

.section-trip .item:not(:last-child) {
  margin-bottom: 44px;
}

.section-trip::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(/images/ship-bg.png) no-repeat;
  background-size: cover;
  width: 488px;
  height: 443px;
}

.section-trip::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: url(/images/ship-bg2.png) no-repeat;
  width: 488px;
  height: 440px;
}

.inner-title {
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.inner-desc {
  font-size: 17px;
  margin-bottom: 0;
  text-align: center;
}

.inner-icon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}

.inner-bg {
  background: url(/images/bg-inner.png) no-repeat;
  background-size: cover;
}

.inner-img {
  width: 100%;
  aspect-ratio: 360/265;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.inner-img img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.section-inherit {
  padding-bottom: 80px;
}

.section-inherit .inner {
  background: #F2E9D7;
  border-radius: 16px;
  padding: 30px 20px;
}

.section-work {
  padding-bottom: 80px;
}

.section-work .inner {
  padding: 0;
  background: transparent;
}

.section-work .inner-desc {
  text-align: left;
}

.section-sick {
  padding-bottom: 80px;
}

.section-sick .inner-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.section-sick .inner-icon img {
  width: 60px;
  height: 60px;
}

.section-sick .inner-title {
  margin-bottom: 0;
  text-align: center;
}

.section-why {
  padding: 80px 0;
  margin-bottom: 80px;
  font-size: 17px;
  background: url(/images/bg-why.png) no-repeat;
  background-size: cover;
  position: relative;
}

.section-why .section-title {
  line-height: 1.4;
}

.section-why .list-why-text {
  margin-bottom: 44px;
}

.section-why .inner-mess {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.section-why .inner-mess-avatar {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.section-why .inner-mess-avatar img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.section-why .inner-mess-text {
  color: #3C2415;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.section-why .box-why-img {
  display: flex;
}

.section-why .box-img {
  border-radius: 15px;
  overflow: hidden;
}

.section-why .box-img img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.section-why .box-img:nth-child(1) {
  margin-bottom: 10px;
  width: 100%;
  aspect-ratio: 564/416;
}

.section-why .box-img:nth-child(2) {
  margin-right: 5px;
}

.section-why .box-img:nth-child(3) {
  margin-left: 5px;
}

.section-why .box-img:nth-child(2), .section-why .box-img:nth-child(3) {
  width: 49%;
  aspect-ratio: 277/204;
  flex-shrink: 0;
}

.section-why .box-item {
  display: flex;
  flex-wrap: wrap;
}

.section-why .box-item:first-child {
  margin-right: 5px;
}

.section-why .box-item:last-child {
  margin-left: 5px;
  flex-flow: wrap-reverse;
}

.section-why .box-item:last-child .box-img:nth-child(1) {
  margin-bottom: 0;
}

.section-why .box-item:last-child .box-img:nth-child(2), .section-why .box-item:last-child .box-img:nth-child(3) {
  margin-bottom: 10px;
}

.section-why::before {
  content: '';
  position: absolute;
  background: url(/images/caydua.png) no-repeat;
  background-size: cover;
  width: 300px;
  height: 513px;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
}

.section-form {
  position: relative;
  padding-bottom: 80px;
}

.section-form .box-contact {
  margin-bottom: 40px;
}

.section-form .box-info-home {
  background: #F1E9D7;
  border-radius: 15px;
  padding: 35px 40px;
}

.section-form .box-info-home .box-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 13px;
}

.section-form .box-info-home .box-info {
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
}

.section-form .box-info-home .box-info img {
  margin-right: 12px;
}

.section-form .box-info-home .box-info:not(:last-child) {
  margin-bottom: 10px;
}

.section-form .box-info-home .box-note {
  color: #D7A444;
  font-size: 17px;
  margin-bottom: 0;
  font-style: italic;
}

.section-form::after {
  content: '';
  position: absolute;
  background: url(/images/caydua2.png) no-repeat;
  background-size: cover;
  width: 300px;
  height: 758px;
  right: 0;
  top: -160px;
}

.section-stories {
  margin-bottom: 80px;
}

.section-stories .list-stories {
  margin-bottom: 0;
}

.post-thumbnail {
  width: 100%;
  aspect-ratio: 263/194;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  display: block;
}

.post-thumbnail img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.post-title {
  font-size: 17px;
  font-weight: 700;
}

.post-big .post-thumbnail {
  aspect-ratio: 555/409;
}

.post-big .post-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.post-desc {
  color: #777777;
  font-size: 17px;
}

.section-diary {
  padding-bottom: 80px;
  position: relative;
}

.section-diary::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url(/images/ship-bg-diary.png) no-repeat;
  background-size: cover;
  width: 340px;
  height: 416px;
}

.list-post {
  margin-bottom: 40px;
}

.list-post .item:not(:nth-child(3)):not(:nth-child(4)) {
  margin-bottom: 30px;
}

.box-loadmore {
  text-align: center;
  font-weight: 700;
}

.box-loadmore a {
  color: #D7A444;
}

.section-diary2 {
  padding-bottom: 80px;
}

.section-diary2 .list-post {
  margin-bottom: 0;
}

.section-diary2 .item {
  margin-bottom: 30px;
}

.section-diary2 .list-tag {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-diary2 .list-tag .tag-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 52px;
  background: url(/images/bg-tag-none.png) no-repeat;
  background-size: contain;
  color: #3C2415;
  font-size: 14px;
  font-weight: 700;
}

.section-diary2 .list-tag .tag-item.active {
  background: url(/images/bg-tag.png) no-repeat;
  background-size: contain;
}

.section-diary2 .list-tag .tag-item:not(:last-child) {
  margin-right: 20px;
}

.section-social {
  background-image: url(/images/bg-social2.png), url(/images/bg-social.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 100%, 0 20%;
  min-height: 1020px;
}

.section-social .container {
  max-width: 1555px;
}

.section-social .box-content {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.section-social .box-content .section-desc {
  width: 70%;
}

.section-social .list-box-social {
  display: flex;
}

.section-social .box-social {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 22px;
}

.section-social .box-social-img {
  width: 100%;
  aspect-ratio: 243/140;
  margin-bottom: 15px;
}

.section-social .box-social-img img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.section-social .box-social-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-social .box-social-role {
  height: 20px;
  margin-bottom: 15px;
  width: 164px;
}

.section-social .box-social-role img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.section-social .box-social-link {
  background: #0866FF;
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  width: max-content;
  margin: 0 auto;
  display: block;
}

.section-social .box-social-link img {
  margin-right: 10px;
}

.section-social .box-social:not(:last-child) {
  margin-right: 30px;
}

.form-title {
  font-family: 'BDStreetSignSans';
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #fff;
  text-transform: uppercase;
}

.form-desc {
  color: #fff;
  font-size: 15px;
  margin-bottom: 25px;
}

.form-note {
  color: #fff;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 0;
}

.form input,
.form select {
  height: 45px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.form textarea {
  border-radius: 10px;
  margin-bottom: 15px;
}

.form .btn-submit {
  background: #D7A444;
  padding: 15px 45px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: max-content;
  display: block;
  border-radius: 150px;
  overflow: hidden;
  line-height: 1.2;
}

.box-form {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.box-form .form {
  position: relative;
  z-index: 2;
}

.box-form-side {
  background: url(/images/bg-from-mb.png) no-repeat;
  background-size: cover;
  padding: 20px 15px;
  z-index: 2;
}

.box-form-side .form .btn-submit {
  margin: 0 auto;
}

.box-form-img {
  text-align: center;
  width: 180px;
  aspect-ratio: 180/263;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.box-form::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(60, 36, 21, 0.2) 0%, #3C2415 47.95%);
  z-index: 1;
  border-radius: 15px;
}

#breadcrumbs {
  padding: 20px 0;
}

#breadcrumbs a {
  color: #D7A444;
}

.single-title {
  font-family: 'BDStreetSignSans';
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #3C2415;
}

.box-faq-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}

.box-faq-avatar img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.box-faq-note {
  color: #D7A444;
  font-size: 15px;
  margin-bottom: 0;
  font-style: italic;
}

.box-faq-name {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 7px;
}

.box-faq-age {
  font-weight: 400;
}

.box-faq-time {
  font-size: 15px;
  color: #555555;
  margin-bottom: 0;
}

.box-faq-info {
  display: flex;
}

.box-faq-customer {
  border: 1px solid #E2E5E9;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
}

.box-faq-customer .box-faq-info {
  padding: 15px 20px;
}

.box-faq-customer .box-faq-reply {
  background: linear-gradient(159.67deg, #3C2415 25.18%, #703A19 177.72%);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.box-faq-customer .box-faq-reply p {
  margin-bottom: 0;
}

.box-faq-doctor {
  margin-bottom: 30px;
}

.box-faq-doctor .box-faq-info {
  margin-bottom: 15px;
}

.box-faq-doctor .box-faq-reply {
  color: #000;
  font-size: 17px;
  font-weight: 700;
}

.box-faq-doctor .box-faq-reply p {
  margin-bottom: 0;
}

.entry {
  font-size: 17px;
}

.entry h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}

.entry h3,
.entry h4,
.entry h5 {
  margin-bottom: 30px;
  font-weight: 700;
}

.entry img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.entry p {
  margin-bottom: 15px;
}

.entry ul {
  padding-left: 15px;
  margin-bottom: 15px;
}

.entry ul li:not(:last-child) {
  margin-bottom: 10px;
}

.list-faq-related {
  padding-bottom: 80px;
}

.box-faq-related {
  padding: 15px;
  border: 1px solid #E2E5E9;
  border-radius: 10px;
  overflow: hidden;
}

.box-faq-related-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 15px;
}

.box-faq-related-desc {
  font-size: 15px;
  margin-bottom: 10px;
}

.box-faq-related .box-faq-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-faq-related .box-faq-action-item {
  color: #D7A444;
  font-size: 14px;
  margin-bottom: 0;
}

.box-faq-related .box-faq-action-item a {
  text-decoration: underline;
  font-weight: 700;
  color: #D7A444;
}

.box-faq-related .box-faq-action-item:not(:last-child) {
  margin-right: 20px;
}

.box-faq-related:not(:last-child) {
  margin-bottom: 25px;
}

.comback {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 60px;
}

.comback a {
  color: #D7A444;
}

.comback img {
  margin-right: 5px;
}

.form-faq {
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.form-faq input,
.form-faq textarea {
  border: 1px solid #D7A444;
}

.form-faq .box-file {
  margin-bottom: 20px;
}

.form-faq .box-file-title {
  font-weight: 700;
  color: #000;
  font-size: 15px;
  margin-bottom: 15px;
}

.form-faq .box-file-item {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #E2E5E9;
  height: 100%;
}

.form-faq .box-file-item .box-file-title {
  font-weight: 500;
  min-height: 45px;
}

.form-faq .box-file-item label {
  padding: 8px 16px;
  background: #E5E5E5;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.archive-faq {
  padding-bottom: 80px;
}

.archive-faq .box-faq {
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.archive-faq .box-faq-customer {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.archive-faq .box-faq-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 20px;
  border-bottom: 1px solid #D9D9D9;
}

.archive-faq .box-faq-action-item {
  color: #D7A444;
  font-size: 14px;
  margin-bottom: 0;
}

.archive-faq .box-faq-action-item a {
  text-decoration: underline;
  font-weight: 700;
  color: #D7A444;
}

.archive-faq .box-faq-action-item:not(:last-child) {
  margin-right: 20px;
}

.archive-faq .box-faq-info {
  margin-bottom: 0;
}

.archive-faq .box-faq-doctor {
  padding: 20px;
  margin-bottom: 0;
}

.archive-faq .box-faq-doctor .box-faq-meta {
  background: #F8F1E8;
  padding: 15px 16px;
  border-radius: 10px;
}

.pagination .page-numbers {
  padding: 10px 15px;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  background: #fff;
  line-height: 1.2;
}

.pagination .page-numbers i {
  font-weight: 700;
  font-size: 20px;
}

.pagination .page-numbers.current {
  font-weight: 700;
  background: #D7A444;
  color: #fff;
}

.pagination .page-numbers:not(:last-child) {
  margin-right: 12px;
}

.page-stories .entry {
  width: 70%;
  margin: 0 auto 40px auto;
}

.list-stories {
  margin-bottom: 163px;
}

.list-stories .slick-prev {
  left: -50px;
}

.list-stories .slick-next {
  right: -50px;
}

.box-stories-img {
  width: 100%;
  aspect-ratio: 263/467;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.box-stories-img::before {
  content: '';
  position: absolute;
  background: url(/images/icon_play.svg) no-repeat;
  background-size: cover;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.box-stories-title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}

.box-stories .box-stories-tag {
  margin-bottom: 15px;
}

.box-stories .tag {
  padding: 3px 8px;
  border-radius: 5px;
  background: #F2E9D7;
  color: #D7A444;
  font-size: 13px;
}

.page-stories {
  padding-bottom: 80px;
}

.box-contact {
  background: url(/images/bg-form-contact.png) no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  min-height: 600px;
  border-radius: 15px;
  position: relative;
}

.box-contact .box-form-side {
  height: 100%;
  display: flex;
  align-items: center;
}

.box-contact .box-form-side .form {
  z-index: 2;
  position: relative;
}

.box-contact .box-form-side .form-title {
  font-size: 45px;
}

.box-contact .box-form-side .form .btn-submit {
  margin: inherit;
  margin-bottom: 15px;
}

.box-contact .form-cta-item {
  font-size: 15px;
  font-weight: 700;
  color: #D7A444;
}

.box-contact .form-cta-item img {
  margin-right: 10px;
}

.box-contact .form-cta-item:not(:last-child) {
  margin-right: 36px;
}

.box-contact .box-img {
  position: relative;
  z-index: 2;
  left: 90px;
  margin-top: -100px;
  width: 406px;
  height: 700px;
}

.box-contact .box-img img {
  object-fit: cover;
  object-position: 50% 50%;
  -o-object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.box-contact::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(60, 36, 21, 0.2) 0%, #3C2415 50%);
  z-index: 1;
  border-radius: 15px;
}

.contact-link {
  margin-bottom: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link-btn {
  background: #D7A444;
  padding: 16px 30px;
  border-radius: 150px;
  display: block;
  width: max-content;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.5;
}

.contact-link-btn img {
  margin-right: 10px;
}

.contact-link-btn:hover {
  color: #3C2415;
}

.contact-link-btn:not(:last-child) {
  margin-right: 30px;
}

.page-contact .box-contact {
  margin-bottom: 80px;
}

.page-contact .box-contact .box-img {
  width: 430px;
  height: 750px;
}

.page-contact .section-sick .inner-icon img {
  width: 50px;
  height: 50px;
}

@media (max-width: 575px) {
  .header-top-text {
    text-align: center;
    font-size: 12px;
    width: 100%;
  }
  .header-logo {
    width: 100%;
    height: auto;
  }
  .menu-header {
    position: absolute;
    width: 100%;
    padding-bottom: 50px;
    height: max-content;
    background: #fff;
    left: 0;
    transform: translate(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 5;
  }
  .menu-header.open {
    transform: translateX(0);
  }
  .footer {
    background: url(/images/Footer-MB.png) no-repeat;
    padding-top: 72px;
    padding-bottom: 30px;
  }
  .footer-info:last-child {
    margin-bottom: 30px;
  }
  .footer-menu {
    margin-bottom: 30px;
  }
  .copyright {
    padding: 20px 15px;
  }
  .copyright-item:first-child {
    margin-bottom: 10px;
  }
  .section-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .section-hello .box-img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .section-hello .item:first-child {
    margin-bottom: 30px;
  }
  .section-trip {
    padding-bottom: 220px;
  }
  .section-trip .inner-title {
    margin: 0 0 12px 0;
  }
  .section-trip .inner-title::after {
    content: '';
    left: -30px;
    bottom: 3px;
  }
  .section-trip .inner-title::before {
    content: '';
    left: -30px;
    bottom: 15px;
  }
  .section-trip .inner ul {
    padding-left: 15px;
  }
  .section-trip .item {
    padding-left: 50px;
  }
  .section-trip .item .inner {
    margin-bottom: 30px;
  }
  .section-trip .item:not(:last-child) {
    margin-bottom: 0;
  }
  .section-trip .item:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    left: 35px;
    z-index: -1;
    transform: translate(-50%, 15px);
  }
  .section-trip .item::before {
    content: '';
    display: none;
  }
  .section-trip::before {
    content: '';
    width: 229px;
    height: 208px;
    background: url(/images/ship-bg-mb.png) no-repeat;
    background-size: cover;
  }
  .section-trip::after {
    content: '';
    width: 184px;
    height: 166px;
    right: 0;
    top: auto;
    bottom: 22px;
    background: url(/images/ship-bg2-mb.png) no-repeat;
    background-size: cover;
  }
  .section-work {
    padding-bottom: 0;
  }
  .section-work .section-desc {
    text-align: left !important;
  }
  .section-work .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .section-inherit {
    padding: 50px 0;
  }
  .section-inherit .section-desc {
    text-align: left !important;
  }
  .section-inherit .inner {
    display: flex;
  }
  .section-inherit .inner-icon {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 17px;
  }
  .section-inherit .inner-icon img {
    width: 60px;
    height: 60px;
  }
  .section-inherit .inner-title {
    text-align: left;
  }
  .section-inherit .inner-desc {
    text-align: left;
  }
  .section-inherit .item:not(:last-child) {
    margin-bottom: 25px;
  }
  .section-why {
    padding-bottom: 50px;
    padding-top: 70px;
    background: url(/images/bg-why-mb.png) no-repeat;
    background-size: cover;
  }
  .section-why .section-title br {
    display: none;
  }
  .section-why .inner-mess-text {
    font-size: 17px;
  }
  .section-why .list-why-text {
    margin-bottom: 15px;
  }
  .section-why .box-why-img {
    flex-wrap: wrap;
  }
  .section-why .box-img:nth-child(2), .section-why .box-img:nth-child(3) {
    width: 48%;
  }
  .section-why .box-item:first-child {
    margin-right: 0;
  }
  .section-why .box-item:first-child .box-img:nth-child(2), .section-why .box-item:first-child .box-img:nth-child(3) {
    margin-bottom: 10px;
  }
  .section-why .box-item:last-child {
    margin-left: 0;
  }
  .section-why::before {
    content: '';
    background: url(/images/caydua-mb.png) no-repeat;
    background-size: cover;
    width: 79px;
    height: 199px;
    left: auto;
    right: 0;
    top: 0;
    transform: translateY(-35%);
  }
  .section-sick {
    padding: 50px 0;
  }
  .section-sick .item:not(:nth-child(5)):not(:nth-child(6)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 390px) {
  .section-trip {
    padding-bottom: 185px;
  }
  .section-trip::before {
    content: '';
    width: 180px;
    height: 165px;
  }
  .section-trip::after {
    content: '';
    width: 184px;
    height: 166px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
